@font-face {
    font-family: "certification-modern";
    src: url("/web/static/fonts/google/Montserrat/Montserrat-Regular.ttf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "certification-modern";
    src: url("/web/static/fonts/google/Montserrat/Montserrat-Bold.ttf") format("opentype");
    font-weight: bold;
}
