.o_view_nocontent {
    top: 10%;

    .o_view_nocontent_expense_receipt:before {
        background: transparent url(/viin_brand_hr_expense/static/img/phone-bill.png) no-repeat center !important;
        background-size: 300px 230px !important;
    }
}
