// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------
.o_Message {
    padding-top: 0 !important;
    padding-bottom: 0;
    transition: background-color .2s ease-out;
    &.o_Message_active {
		background-color: $light;
	}
    &.o-not-discussion {
		background-color: $light;
	}
}
.o_Message_sidebarItem {
    font-size: 0.9em;
}
.o_Message_sidebar {
    max-width: 43px;
    flex: 0 0 43px;
    margin-inline-end: 0.3rem;
    &.o-message-squashed{
        align-items: baseline;
    }
}
.o_MessageList_separator{
	font-size: 1rem;
	color: $text-muted;
}
.o_Message_authorName{
	font-size: 1rem;
}
.o_Message_content {
    *:not(li):not(li div) {
        // Avoid vertical scroll caused by the following code in Odoo 14:
        // https://github.com/odoo/odoo/blob/3e598a8014966e1a07a08d53bf85050b458e05a6/addons/mail/static/src/components/message/message.scss#L56
        overflow-x: inherit;
    }
}

// #TODO Remove this code if we don't get the same error in 16+ 
// Fix error when tagging name ,
// Error overflow in status tag when zooming the screen web
// Details PR: https://github.com/Viindoo/branding/pull/210
// ID ticket: 7301
span.o_ComposerSuggestion_part2, text-truncate {
	overflow: hidden;
} 
.o_PartnerImStatusIcon {
	overflow: hidden;
}
// Fix: Error display of missing user name on dropdown-menu
.dropup .dropdown-menu {
    bottom: auto !important;
    margin-top: 40px !important;
}
